@import '~assets/css/globel.less';

.menu {
  height: 500px;

  .menu-wrapper {
    width: 300px;
    padding: 35px 0 60px 20px;
    box-sizing: border-box;
    height: 100%;
    float: left;

    .menu-title {
      font-weight: bold;
      font-size: 18px;
      color: @blackTitle;
      margin: 20px 0;
    }

    .menu-content {
      margin-top: 8px;

    }
  }

  .view {
    margin-left: 300px;
  }
}